<footer class="footer py-3 mt-auto d-flex ">
    <div class="container d-flex justify-content-center align-items-center">
        <p class=" d-flex text-light fw-lighter">&copy; Shopping-Cart 2024
            <span style=" margin-left: 80px;">
                <a href="https://github.com/0012pankaj" style="margin-inline: 10px; font-size:x-large;color: aliceblue;"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/pankaj_atri_0012/" style="margin-inline: 10px; font-size:x-large;color: aliceblue;"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/PankajAtri0012" style="margin-inline: 10px; font-size:x-large;color: aliceblue;"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/in/pankaj-894982249/" style="margin-inline: 10px; font-size:x-large;color: aliceblue;"><i class="fa-brands fa-linkedin"></i></a>
            </span>          
        </p>
       
    </div>
</footer>
