<% layout('layouts/boilerpalte') -%> 
<!-- to insert this page in main part of boilerpaltewhere body tag inserted  -->
<!-- bootstrap alleart section -->

<div class="alert alert-danger" role="alert">
    <%=err%> 
</div>